<div class="social-badge {{#if extra_class}}{{extra_class}}{{/if}}">
        {{#if @custom.facebook_link}}<a href="{{facebook_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a>{{/if}}
        {{#if @custom.instagram_link}}<a href="{{@custom.instagram_link}}" target="_blank"><i class="fab fa-instagram"></i></a>{{/if}}
        {{#if @custom.google_maps_link}}<a href="{{@custom.google_maps_link}}" target="_blank"><i class="fab fa-google"></i></a>{{/if}}
        {{#if @custom.tiktok_link}}<a href="{{@custom.tiktok_link}}" target="_blank"><i class="fab fa-tiktok"></i></a>{{/if}}
        {{#if @custom.youtube_link}}<a href="{{@custom.youtube_link}}" target="_blank"><i class="fab fa-youtube"></i></a>{{/if}}
        {{#if @custom.twitter_link}}<a href="{{@custom.twitter_link}}" target="_blank"><i class="fab fa-twitter"></i></a>{{/if}}
</div>
