{{!< default}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="content-area">
<main class="site-main">
    <div class="social-badge">
        {{#if facebook_link}}<a href="{{facebook_link}}" target="_blank"><i class="fab fa-facebook-f"></i></a>{{/if}}
        {{#if instagram_link}}<a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>{{/if}}
        {{#if google_maps_link}}<a href="https://google.com" target="_blank"><i class="fab fa-google"></i></a>{{/if}}
        {{#if tiktok_link}}<a href="https://tiktok.com" target="_blank"><i class="fab fa-tiktok"></i></a>{{/if}}
        {{#if youtube_link}}<a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>{{/if}}
        {{#if twitter_link}}<a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>{{/if}}

    </div>

    {{#get "tags" limit="all"}}
    <div class="tag-feed owl" data-count="{{pagination.total}}">

        {{#foreach tags}}
        <div class="tag u-placeholder">
            <img class="tag-image u-object-fit" src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{@site.cover_image}}{{/if}}" alt="{{name}}">
            <div class="tag-content">
                <h2 class="tag-name">{{name}}</h2>

                {{#if description}}
                    <div class="tag-description">
                        {{description}}
                    </div>
                {{/if}}
            </div>
            <a class="u-permalink" href="{{url}}"></a>
        </div>
        {{/foreach}}

    </div>
    {{/get}}

</main>
</div>