{{!< default}} <div class="content-area">
    <main class="site-main">
        {{> "socials" extra_class="index"}}
        <section class="cta-section">
            <img src="{{@site.cover_image}}" alt="Background" class="cta-bg-img">
            <div class="cta-overlay"></div>
            <div class="cta-content">
                <div class="headline">
                    {{@custom.cta_headline}}
                </div>
                <div class="subtitle" style="color: {{@site.accent_color}}">{{@custom.cta_subheadline}}</div>
                <div style="display: flex; flex-direction: column; gap: 1rem;">
                    <a href="{{@custom.cta_button_link}}"> <button class="cta"
                            style="background-color: {{@site.accent_color}}">{{@custom.cta_button_text}}</button></a>
                    <a><button class="scroll-button cta" style="background-color: {{@site.accent_color}}">What’s
                            New</button></a>
                </div>
            </div>
        </section>
        <script>
            document.querySelector('.scroll-button').addEventListener('click', function () {
                window.scrollTo({
                    top: window.innerHeight,  // always scroll to 100vh from top
                    left: 0,
                    behavior: 'smooth'
                });
            });
        </script>
        <section class="gallery-section">
            <div class="gallery-block">
                <h1 style="color: {{@site.accent_color}};" class="fancy block__title">Men’s, Women’s & Kids’ Fashion — All in One
                    Place</h1>
                <span class="block__subtitle">Discover a wide selection of clothing for men, women, and children.
Our inventory is always changing, so there’s something new every time you visit.</span>
            </div>
            <div class='gallery'>
                <div class='item' data-pos='0'><img
                        src='{{@custom.gallery_image_1}}'>
                </div>
                <div class='item' data-pos='1'><img
                        src='{{@custom.gallery_image_2}}'>
                </div>
                <div class='item' data-pos='2'><img
                        src='{{@custom.gallery_image_3}}'>
                </div>
                <div class='item' data-pos='3'><img
                        src='{{@custom.gallery_image_4}}'>
                </div>
                <div class='item' data-pos='4'><img
                        src='{{@custom.gallery_image_5}}'>
                </div>
            </div>
        </section>
        <script>

            function init(e) {
                if (!e.target.closest('.item')) return;
                let hero = document.querySelector('div[data-pos="0"]');
                let target = e.target.parentElement;
                [target.dataset.pos, hero.dataset.pos] = [hero.dataset.pos, target.dataset.pos];
            }

            window.addEventListener('click', init, false);
        </script>

        {{#get "tags" limit="all"}}
        <div class="tag-feed owl" data-count="{{pagination.total}}">

            {{#foreach tags}}
            <div class="tag u-placeholder">
                <img class="tag-image u-object-fit"
                    src="{{#if feature_image}}{{img_url feature_image}}{{else}}{{@site.cover_image}}{{/if}}"
                    alt="{{name}}">
                <div class="tag-content">
                    <h2 class="tag-name">{{name}}</h2>

                    {{#if description}}
                    <div class="tag-description">
                        {{description}}
                    </div>
                    {{/if}}
                </div>
                <a class="u-permalink" href="{{url}}"></a>
            </div>
            {{/foreach}}

        </div>
        {{/get}}
    </main>
    </div>
